<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/new">
        <label for="message">
            <input id="message" name="message" type="text" />
        </label>

        <label for="users">
            <input id="user" name="user" type="text"/>
        </label>

        <button type="submit">Submit</button>
    </form>
</body>

</html>